{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
    <div class="container">
        <div class="fs-2" style="font-weight: bold">Вид работ : {{ job_com }}
            <p>Стомость услуги : {{ job_price }}</p>
        </div>
    </div>
    <div class="container">
    <form method="POST" action="#">
        {% csrf_token %}
        {{workform}}
        <button class="btn btn-success" type="submit" style="padding-left: 10px; margin-left: 100px">Сохранить</button>
    </form>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end text-center">
            <a type="button" class="btn btn-warning" style="width: 150px" href="{% url 'allorders' %}">Все заказы</a>
            <a type="button" class="btn btn-primary " style="width: 150px" href="{% url 'jobsedite' order_id %}">К видам работ</a>
            </div>
        <table class="table table-bordered border-primary">
            {% render_table workertable %}
        </table>
        <div class="container">
        <table class="table table-bordered border-primary">
            <tbody>
            <tr>
                    <th scope="row" class="table-primary">Предоплата:</th>
                    <th scope="row" class="table-primary">{{ pay }} руб.</th>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock content %}