{% extends 'service_2/base.html' %}
{% load django_tables2 %}
{% block title %}Добавить исполнителя{% endblock title %}
{% block content %}
    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart dark" style="background: rgb(255,255,255);">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Добавить исполнителей :</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="content">
                    <div class="row g-0" style="border-color: rgba(254,254,254,0);transform: perspective(0px);">
                        <div class="col-xxl-12">
                            <div>
                                <p style="font-size: x-large"><b>Вид работ : {{ job_com }}</b></p>
                                <p style="font-size: x-large"><b>Стоимость услуги : {{ job_price}} руб.</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{workform}}
                    <button class="btn btn-success" type="submit">Отправить</button>
                </form>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end text-center">
                    <a href="{% url 'allorders' %}" class="btn btn-warning" type="button">Все заказы</a>
                    <a href="{% url 'jobsedite' order_id %}" class="btn btn-primary" type="button">Назад</a>
                </div>
                <table class="table table-bordered border-primary">
                {% render_table workertable %}
                </table>
            </div>

            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody class="table table-bordered border-primary">
                            <tr>
                                <td class="table-primary">Предоплата :</td>
                                <td class="table-primary col-md-2">{{pay}} руб</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}